@charset "UTF-8";

// Fonts
$font1: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font2: Georgia, serif;

// Pallet colors
$pallet-1: #7a2544;
$pallet-2: #ff6969;
$pallet-3: #db4242;
$pallet-4: #ab333b;

// = Colors
$red: #df2e30;
$blue: #1894c4;
$white: #fff;
$gray: #f1f1f1;
$gray2: #ccc;
$pink1: #ffd4fc;
$pink2: #eec6f5;
$orange1: #ffb300;
$red1: #f90000;
