<div class="row">
  <div class="col-md-6">
    {{list-pokemons title="List of Pokemons" pokemons=model}}
  </div>

  <div class="col-md-6">
    {{details-pokemon title="Pokemon Details"}}
  </div>
</div>
